.ql-toolbar .ql-picker:not(.ql-color-picker):not(.ql-icon-picker).ql-table-up {
  width: 28px;
}
.ql-toolbar .ql-picker:not(.ql-color-picker):not(.ql-icon-picker).ql-table-up .ql-picker-label {
  padding: 2px 4px;
}
.ql-toolbar .ql-picker:not(.ql-color-picker):not(.ql-icon-picker).ql-table-up .ql-picker-label svg {
  position: static;
  margin-top: 0;
}
.ql-toolbar .ql-picker.ql-expanded .ql-picker-options {
  z-index: 1;
}
.ql-container .ql-table-selection {
  display: none;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}
.ql-container .ql-table-selection_line {
  position: absolute;
  border: 2px solid;
  pointer-events: none;
}
.ql-container .ql-table-resize-line-row,
.ql-container .ql-table-resize-line-col {
  position: absolute;
  z-index: 0;
}
.ql-container .ql-table-resize-line-row::before,
.ql-container .ql-table-resize-line-col::before,
.ql-container .ql-table-resize-line-row::after,
.ql-container .ql-table-resize-line-col::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  z-index: 1;
}
.ql-container .ql-table-resize-line-row {
  height: 1px;
  cursor: ns-resize;
}
.ql-container .ql-table-resize-line-row::before,
.ql-container .ql-table-resize-line-row::after {
  width: 100%;
  height: 8px;
}
.ql-container .ql-table-resize-line-row::before {
  transform: translateY(-8px);
}
.ql-container .ql-table-resize-line-col {
  width: 1px;
  cursor: ew-resize;
}
.ql-container .ql-table-resize-line-col::before,
.ql-container .ql-table-resize-line-col::after {
  height: 100%;
  width: 8px;
}
.ql-container .ql-table-resize-line-col::before {
  transform: translateX(-8px);
}
.ql-container .ql-table-resizer {
  position: absolute;
  z-index: 0;
}
.ql-container .ql-table-resizer.table-align-right .ql-table-col-separator {
  left: -2px;
}
.ql-container .ql-table-resizer.table-align-right .ql-table-resizer-corner {
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 50%;
}
.ql-container .ql-table-resizer-row,
.ql-container .ql-table-resizer-col {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.ql-container .ql-table-resizer .ql-table-col-wrapper,
.ql-container .ql-table-resizer .ql-table-row-wrapper {
  display: flex;
}
.ql-container .ql-table-resizer .ql-table-col-header,
.ql-container .ql-table-resizer .ql-table-row-header {
  position: relative;
  flex-shrink: 0;
  background-color: #f3f4f5;
  border: 1px solid #ccc;
}
.ql-container .ql-table-resizer .ql-table-col-wrapper {
  height: 100%;
}
.ql-container .ql-table-resizer .ql-table-col-header {
  height: 100%;
  cursor: pointer;
}
.ql-container .ql-table-resizer .ql-table-col-separator {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -2px;
  width: 2px;
  cursor: ew-resize;
  z-index: 0;
}
.ql-container .ql-table-resizer .ql-table-col-separator::after {
  right: -6px;
}
.ql-container .ql-table-resizer .ql-table-col-separator::before {
  left: -6px;
}
.ql-container .ql-table-resizer .ql-table-col-separator::after,
.ql-container .ql-table-resizer .ql-table-col-separator::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 8px;
  height: 100%;
  z-index: 1;
}
.ql-container .ql-table-resizer .ql-table-row-wrapper {
  flex-direction: column;
  width: 100%;
}
.ql-container .ql-table-resizer .ql-table-row-header {
  width: 100%;
  cursor: pointer;
}
.ql-container .ql-table-resizer .ql-table-row-separator {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -2px;
  height: 2px;
  cursor: ns-resize;
  z-index: 0;
}
.ql-container .ql-table-resizer .ql-table-row-separator::after {
  bottom: -6px;
}
.ql-container .ql-table-resizer .ql-table-row-separator::before {
  top: -6px;
}
.ql-container .ql-table-resizer .ql-table-row-separator::after,
.ql-container .ql-table-resizer .ql-table-row-separator::before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 8px;
  z-index: 1;
}
.ql-container .ql-table-resizer-corner {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #f3f4f5;
  border: 1px solid #ccc;
  border-right-width: 0;
  border-bottom-width: 0;
  border-top-left-radius: 50%;
  cursor: pointer;
}
.ql-table-toolbox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.ql-table-toolbox * {
  pointer-events: all;
}
.ql-table-drag-line {
  position: fixed;
  z-index: 0;
  background-color: #409eff;
}
.ql-table-drag-line.col {
  width: 2px;
  cursor: ew-resize;
}
.ql-table-drag-line.row {
  height: 2px;
  cursor: ns-resize;
}
.ql-table-menu,
.ql-table-align {
  position: absolute;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  font-size: 14px;
}
.ql-table-menu-item,
.ql-table-align-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.ql-table-menu-item:hover,
.ql-table-align-item:hover {
  background-color: #eeeeee;
}
.ql-table-menu-item.break,
.ql-table-align-item.break {
  align-self: stretch;
  width: 1px;
  padding: 0px;
  margin: 2px 4px;
  background-color: #a3a3a3;
  cursor: default;
}
.ql-table-menu .icon,
.ql-table-align .icon {
  display: flex;
  flex-shrink: 0;
  font-size: 20px;
}
.ql-table-menu span,
.ql-table-align span {
  text-wrap: nowrap;
}
.ql-table-menu.contextmenu {
  flex-direction: column;
  padding: 4px 8px;
}
.ql-table-menu.contextmenu .ql-table-menu-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 4px;
  cursor: pointer;
}
.ql-table-menu.contextmenu .break {
  width: 100%;
  height: 1px;
  margin: 4px 0px;
  background-color: #a3a3a3;
}
.ql-table-align .icon {
  width: 20px;
  height: 20px;
}
.table-color-select-wrapper {
  display: flex;
  flex-direction: column;
}
.table-color-map {
  display: flex;
  flex-direction: column;
}
.table-color-map-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.table-color-used {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 0.25rem;
  padding-top: 0.25rem;
  border-top: 0.0625rem solid #ccc;
}
.table-color-item {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0.125rem;
  border: 0.0625rem solid #a3a3a3;
  cursor: pointer;
}
.table-color-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 1.25rem;
  padding: 0 0.375rem;
  color: #303133;
  background-color: #fff;
  cursor: pointer;
}
.table-color-btn:hover {
  background-color: #edeeef;
}
.ql-table-scrollbar--origin.ql-container .ql-table-wrapper {
  scrollbar-width: inherit;
}
.ql-editor .ql-table {
  display: table;
  border-collapse: separate;
  table-layout: fixed;
  width: auto;
}
.ql-editor .ql-table[data-full] {
  width: 100%;
}
.ql-editor .ql-table-dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.ql-editor .ql-table-wrapper {
  width: 100%;
  max-height: 140px;
  overflow: auto;
  scrollbar-width: none;
}
.ql-editor .ql-table-cell {
  padding: 8px 12px;
  border-color: transparent;
  font-size: 14px;
  outline: none;
  overflow: auto;
}
.ql-editor .ql-table-cell-inner {
  display: inline-block;
  min-width: 100%;
  word-break: break-word;
}
.ql-editor .ql-table col {
  border-collapse: separate;
  text-indent: initial;
  display: table-column;
  table-layout: fixed;
}
.ql-editor .ql-table td {
  border: 1px solid #a1a1aa;
}
.ql-table-scrollbar {
  position: absolute;
  z-index: 1;
  transition: opacity 0.15s linear;
}
.ql-table-scrollbar-container {
  position: relative;
}
.ql-table-scrollbar.transparent {
  opacity: 0;
}
.ql-table-scrollbar.vertical {
  top: 2px;
  bottom: 2px;
  left: -8px;
  width: 6px;
}
.ql-table-scrollbar.vertical .ql-table-scrollbar-thumb {
  width: 100%;
}
.ql-table-scrollbar.horizontal {
  bottom: 2px;
  left: 2px;
  right: 2px;
  height: 6px;
}
.ql-table-scrollbar.horizontal .ql-table-scrollbar-thumb {
  height: 100%;
}
.ql-table-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d2d2d2;
  cursor: pointer;
}
.ql-table-scrollbar-thumb:hover {
  background-color: #a1a1aa;
}
.ql-snow .select-box {
  --select-box-color-bg-hover: #f5f5f5;
  --select-box-color-bg-active: #e0f2fe;
  --select-box-custom-color-text: #0d0d0d;
  --select-box-custom-color-bg: transparent;
  --select-box-custom-color-bg-hover: #ebebeb;
}
.select-box {
  --select-box-color-border: #e5e7eb;
  --select-box-border: 0.0625rem solid var(--select-box-color-border);
  --select-box-color-active: #0ea5e9;
  --select-box-color-bg-hover: #f5f5f5;
  --select-box-color-bg-active: transparent;
  --select-box-custom-color-text: #f5f5f5;
  --select-box-custom-color-bg: transparent;
  --select-box-custom-color-bg-hover: #2c2c2c;
}
.select-box__block {
  display: flex;
  width: 10rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.select-box__item {
  margin: 0.125rem;
  height: 1rem;
  width: 1rem;
  border: var(--select-box-border);
}
.select-box__item.active {
  border-color: var(--select-box-color-active);
  background-color: var(--select-box-color-bg-active);
}
.select-box__custom {
  padding: 0.5rem;
  color: var(--select-box-custom-color-text);
  background-color: var(--select-box-custom-color-bg);
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}
.select-box__custom:hover {
  background-color: var(--select-box-custom-color-bg-hover);
}
.tooltip {
  position: absolute;
  z-index: 20;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  color: #ffffff;
  white-space: nowrap;
  background-color: #303133;
  transition: opacity 0.15s linear;
}
.tooltip.transparent {
  opacity: 0;
}
.tooltip.hidden {
  display: none;
}
