.input__item {
  --input-height: 2rem;
  --input-inner-height: calc(var(--input-height) - 0.125rem);
  --input-color-text: #606266;
  --input-color-boxshaow: #dcdfe6;
  --input-color-focus: #409eff;
  --input-color-error: #f56c6c;
  --input-boxshaow: 0 0 0 0.0625rem var(--input-color-boxshaow) inset;
  --input-boxshaow-focus: 0 0 0 0.0625rem var(--input-color-focus) inset;
  --input-boxshaow-error: 0 0 0 0.0625rem var(--input-color-error) inset;
  display: flex;
  align-items: center;
}
.input__item + .input__item {
  margin-top: 1.125rem;
}
.input__label {
  width: 5rem;
  flex-shrink: 0;
}
.input__input {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: var(--input-height);
  line-height: var(--input-height);
  padding: 0.0625rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: var(--input-boxshaow);
  transition: box-shadow 0.2s linear;
}
.input__input.focus {
  box-shadow: var(--input-boxshaow-focus);
}
.input__input input {
  width: 100%;
  height: var(--input-inner-height);
  line-height: var(--input-inner-height);
  flex-grow: 1;
  font-size: 0.875rem;
  color: var(--input-color-text);
  outline: none;
  border: 0;
  padding: 0;
}
.input__input.error {
  box-shadow: var(--input-boxshaow-error);
}
.input__error-tip {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 0.75rem;
  color: var(--input-color-error);
  line-height: 1rem;
}
.table-creator {
  padding: 1.5rem;
}
.table-creator__input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.table-creator__control {
  margin-top: 1rem;
  text-align: right;
}
