.ql-snow {
  .ql-table-up-main.ql-picker {
    width: 28px;
    .ql-picker-label {
      padding: 2px 4px;
      svg {
        position: static;
        margin-top: 0;
      }
    }
  }
  .ql-picker.ql-expanded .ql-picker-options {
    z-index: 11;
  }

  .ql-table-selection {
    &_line {
      display: none;
      position: absolute;
      border: 2px solid;
      pointer-events: none;
    }
  }

  .ql-table-menu {
    position: absolute;
    z-index: 11;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    font-size: 14px;
    &.contextmenu {
      flex-direction: column;
      .ql-table-menu-item {
        width: 100%;
        justify-content: flex-start;
        cursor: pointer;
      }
      .break {
        height: 1px;
        margin: 4px 0px;
        background-color: #a3a3a3;
      }
      .icon {
        margin-right: 4px;
      }
    }
    &-item {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: #eeeeee;
      }
      &.break {
        align-self: stretch;
        width: 1px;
        padding: 0px;
        margin: 2px 4px;
        background-color: #a3a3a3;
        cursor: default;
      }
      .icon {
        display: flex;
        flex-shrink: 0;
        font-size: 20px;
      }
    }
  }

  .ql-table-resizer {
    position: absolute;
    z-index: 10;
    .ql-table {
      &-col,
      &-row {
        &-wrapper {
          position: absolute;
          top: 0px;
          left: 0px;
          display: flex;
          overflow: hidden;
        }
        &-header {
          position: relative;
          flex-shrink: 0;
          background-color: #f3f4f5;
          border: 1px solid #ccc;
        }
      }
      &-col {
        &-wrapper {
          width: 100%;
        }
        &-header {
          height: 100%;
        }
        &-separator {
          position: absolute;
          top: 0px;
          bottom: 0px;
          right: -2px;
          width: 2px;
          cursor: ew-resize;
          z-index: 10;
          &::after {
            right: -6px;
          }
          &::before {
            left: -6px;
          }
          &::after,
          &::before {
            content: '';
            position: absolute;
            top: 0;
            display: block;
            width: 8px;
            height: 100%;
            z-index: 11;
          }
        }
      }
      &-row {
        &-wrapper {
          flex-direction: column;
          height: 100%;
        }
        &-header {
          width: 100%;
        }
        &-separator {
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: -2px;
          height: 2px;
          cursor: ns-resize;
          z-index: 10;
          &::after {
            bottom: -6px;
          }
          &::before {
            top: -6px;
          }
          &::after,
          &::before {
            content: '';
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 8px;
            z-index: 11;
          }
        }
      }
    }
  }
}

.table-color {
  &-used {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    &-item {
      width: 16px;
      height: 16px;
      margin: 4px;
      border: 1px solid #a3a3a3;
      cursor: pointer;
    }
  }
}

.ql-table {
  &-drag-line {
    position: fixed;
    background-color: #409eff;
    z-index: 10;
    &.col {
      width: 2px;
      cursor: ew-resize;
    }
    &.row {
      height: 2px;
      cursor: ns-resize;
    }
  }
}

.ql-editor {
  .ql {
    &-table {
      border-collapse: separate;
      table-layout: fixed;
      width: auto;
      &[data-full] {
        width: 100%;
      }
      &-dragging {
        user-select: none;
      }
      &-wrapper {
        width: 100%;
        overflow: auto;
        &:hover {
          &::-webkit-scrollbar-thumb {
            background-color: #a1a1aa;
          }
        }
        &::-webkit-scrollbar {
          width: 4px;
          height: 4px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #d2d2d2;
          border-radius: 4px;
        }
      }
      &-cell {
        padding: 8px 12px;
        border: 1px solid #a1a1aa;
        font-size: 14px;
        outline: none;
        overflow: auto;
        &-inner {
          display: inline-block;
          min-width: 100%;
          word-break: break-word;
        }
      }
      col {
        border-collapse: separate;
        text-indent: initial;
        display: table-column;
        table-layout: fixed;
      }
    }
  }
}

@import './select-box.less';
@import './tool-tip.less';
