@import './variables.less';
@import './functions.less';
@import './input.less';

.@{namespace}-table-creator {
  padding: 24px;
  &__input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__control {
    margin-top: 16px;
    text-align: right;
  }
}
