name: CI

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

  merge_group: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install
        run: pnpm i
        
      - name: Build
        run: pnpm build

      - name: Typecheck
        run: pnpm test
