name: Continuous Releases
on:
  push:
    branches:
      - master
      - v**
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
          
      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org/
          node-version: lts/*

      - name: Install
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: Publish packages
        run: pnpx pkg-pr-new publish --compact --pnpm
