name: Test Unit

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master
      - 3.x

  merge_group: {}

jobs:
  test-unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org/
          node-version: lts/*

      - name: Install
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: Unit Tests
        run: pnpm test:unit
